:root {
    --background-color: #1c1c2e;
    --card-background: #2a2a3e;
    --highlight-color: #c7c7e8;
    --primary-text: #b2b2cc;
    --button-gradient: linear-gradient(90deg, #0079ff, #00e5ff);
    --button-hover-gradient: linear-gradient(90deg, #00e5ff, #0079ff);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --hover-shadow-color: rgba(0, 128, 255, 0.6);
  }
  
  .pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background-color);
    color: var(--highlight-color);
  }
  
  .card {
    background: var(--card-background);
    border-radius: 12px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 15px var(--shadow-color);
    animation: fadeIn 0.6s ease-out;
  }
  
  .pageTitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--highlight-color);
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  }
  
  .message {
    font-size: 1.1rem;
    color: var(--primary-text);
    margin-bottom: 1.5rem;
  }
  
  .platformButton {
    background: var(--button-gradient);
    color: #fff;
    padding: 12px 18px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 128, 255, 0.4);
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
  
    &:hover:not(:disabled) {
      background: var(--button-hover-gradient);
      transform: translateY(-3px);
      box-shadow: 0px 6px 15px var(--hover-shadow-color);
    }
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  
  
  